<form [formGroup]="form">
  <table>
    <tr>
      <img src="assets/img/writletlogotransparent.png">
    </tr>
    <tr>
      Username
    </tr>
    <tr>
      <input type="text" placeholder="Username" required autofocus
             [style.backgroundColor]="errorColor" formControlName="name">
    </tr>
    <tr>
      Password
    </tr>
    <tr>
      <input type="password" placeholder="Password" required
             [style.backgroundColor]="errorColor" formControlName="password">
    </tr>
    <tr>
      <button type="submit" (click)="login()">Login</button>
    </tr>
  </table>
</form>

