<head>
  <meta
    name="description"
    content="Login page for Writlet webapplication">
</head>
<form [formGroup]="form">
  <table>
    <tr>
      <img class="logo" src="assets/img/writletlogotransparent.png" alt="Logo">
      <img class="mobileLogo" src="assets/img/headerlogo.png" alt="Logo">
      <img class="textLogo" src="assets/img/writletlogo.png" alt="Logo">
    </tr>
    <tr class="login">
      Login to your Writlet account
    </tr>
    <tr class="login">
      Username
    </tr>
    <tr class="login">
      <input type="text" placeholder="Username" required autofocus
             [style.backgroundColor]="errorColor" maxlength="16" formControlName="name">
    </tr>
    <tr class="login">
      Password
    </tr>
    <tr class="login">
      <input type="password" id="password" placeholder="Password" required
             [style.backgroundColor]="errorColor" maxlength="16" formControlName="password">
    </tr>
    <tr class="login">
      <input type="checkbox" (click)="showPassword()">Show Password
    </tr>
    <tr class="login">
      <button type="submit" (click)="login()">Login</button>
    </tr>
  </table>
</form>

