<head>
  <meta
    name="description"
    content="About page for Writlet webapplication">
</head>
<div>
<h1>
  About
</h1>
<p>
Writlet is the online application for letter writing!
</p>
  <h2>Why</h2>
  <p>
    We at Writlet believe that the current forms of social media are too fast (instant), <br>
    this makes messages lose their value.<br>
    <br>
    Therefore we created this application. An online writing simulator without the hassles of actually writing, <br>
    but with the benefits!
    <br>
    This writing simulator has a built-in delay for sending letters. Once you have sent your letter, <br>
    it will take some time before the letter arrives.
  </p>

  <h3>How</h3>
  <p>
    Register an account, <br>
    Find your penpals, <br>
    Write and receive letters!
  </p>
  <button routerLink="/register">Register here!</button>
</div>
