div {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 50%;
  display: block;
  height: 80%;
}

table {
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  font-family: "Bradley Hand ITC", cursive;
  font-size: large;
}

td {
  padding-top: 10px;
}

#date {
  text-align: right;
}

#title {
  padding-top: 30px;
}
