<head>
  <meta
    name="description"
    content="Read page for Writlet webapplication, used to read letters in your letterbox.">
</head>
<img src="assets/img/backbutton.png" routerLink="../../letterbox" >
<div>
<table *ngIf="this.letter">
  <tr>
    <td>
      afz. {{letter.username}}
    </td>
    <td id="date">
      {{this.time.toDateString()}}
    </td>
  </tr>
  <tr>
    <td id="title">
      {{letter.title}}
    </td>
  </tr>
  <tr>
    <td class="text" colspan="2">
      {{letter.text}}
    </td>
  </tr>

</table>
</div>
