<app-header *ngIf="!checkHomeScreen() || checkLoggedIn()"></app-header>

<div class="mainPage">

    <router-outlet></router-outlet>

<div *ngIf="checkHomeScreen() && !checkLoggedIn()" class="imagewrapper">
    <img src="assets\img\writletlogotransparent.png" alt="Writlet image" class="frontpageimage">
</div>
<div *ngIf="checkHomeScreen() && !checkLoggedIn()" class="buttonswrapper">
    <button class="unregisteredButton"><a routerLink="login">inloggen</a></button>
    <button class="unregisteredButton"><a routerLink="register">registreren</a></button>
</div>
</div>
<app-footer></app-footer>
