.mainPage {
  width: 70vw;
  height: 100vh;
  margin: 20px auto -100px;
  background-color: #fff2e2;
}

.buttonswrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.unregisteredButton {
    font-size: 40px;
    text-align: center;
    margin: auto;
    display: flex;
    padding: 10px;
    margin-top: 10px;
}

.imagewrapper {
    background-color: #fff2e2;
}

.frontpageimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
}
