
<div class="mainPage">
    <app-header *ngIf="!checkHomeScreen() || checkLoggedIn()"></app-header>

    <router-outlet></router-outlet>

    <div *ngIf="checkHomeScreen() && !checkLoggedIn()" class="imagewrapper">
        <img src="assets/img/writletlogotransparent.png" alt="Writlet image" class="frontpageimage">
    </div>

    <div *ngIf="checkHomeScreen() && !checkLoggedIn()" class="buttonswrapper">
      <img class="mobileLogo" src="assets/img/headerlogo.png" alt="Logo">
      <img class="textLogo" src="assets/img/writletlogo.png" alt="LogoText">
      <button class="unregisteredButton" id="login" routerLink="login">Login</button>
      <button class="unregisteredButton" id="register" routerLink="register">Register</button>
    </div>

  <div *ngIf="checkHomeScreen() && checkLoggedIn()">
    <img src="assets/img/writletlogotransparent.png" alt="Writlet image" class="frontpageimage">
    <img src="assets/img/writeLetters.png" alt="write letters" class="homepageimages" routerLink="/secret/letter">
    <img src="assets/img/checkLetters.png" alt="check letters" class="homepageimages" routerLink="/secret/letterbox">
    <img src="assets/img/penpals.png" alt="penpals" class="homepageimages" routerLink="/secret/penpals">
  </div>

    <app-footer></app-footer>
</div>

