<div class="friendsDiv">
    <table>
        <tr><th> Your Penpals: </th></tr>
        <ng-container *ngFor="let penpal of currentPenpals">
            <tr>
              <td>
                <button class="deleteFriendButton" type="submit" (click)="removePenPal(penpal)"><div class="friendName"> {{penpal}} </div><img src="assets/img/deletefriend.png" class="deleteImg"></button>
              </td>
            </tr>
        </ng-container>
    </table>
</div>

<div class="searchDiv">
    <form [formGroup]="form">
      <table class="search">
        <tr>
          <td>
            <input type="text" placeholder="PenPal to add" required formControlName="penpal">
            <button type="submit" (click)="searchPenPal()" class="findButton">Find Penpals</button>
          </td>
        </tr>
      </table>

    </form>
  <table>
    <tr>
      <td>
        <ng-container *ngFor="let penpal of searchPenpals">
          <button class="deleteFriendButton" type="submit" (click)="addPenPal(penpal)"><div class="friendName"> {{penpal}} </div><img src="assets/img/addfriend.png" class="deleteImg"></button>
        </ng-container>
      </td>
    </tr>
  </table>
</div>
