/* mobile */
table {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.findButton {
  font-weight: bold;
  text-align: center;
  display: flex;
  padding: 5px;
  transition-duration: 0.4s;
  border-radius: 4px;
  border: 2px solid #555555;
  background-color: #373331;
  color: white;
}

.findButton:hover {
  background-color: white;
  color: #373331;
}

.deleteImg {
  width: 30%;
  height: 30%;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
}

.friendName {
  text-align: left;
  position: relative;
  float: left;
  margin-top: 10%;
  margin-left: 20%;
}

.deleteFriendButton {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  background-color: floralwhite;
  font-family: "Bradley Hand ITC", cursive;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 1%;
}

.findButton {
  float: right;
}

/* desktop */
@media screen and (min-width: 768px) {
  .friendsDiv {
    float: left;
    margin-left: 10%;
    font-size: 20px;
  }

  .deleteFriendButton:hover {
    border-color: #373331;
    background-color: blanchedalmond;
  }

  .friendName {
    text-align: left;
    position: relative;
    float: left;
    margin-top: 10%;
    margin-left: 20%;
  }
  .searchDiv {
    float: right;
    margin-right: 10%;
    width: 20%;
  }

  .deleteImg {
    width: 30%;
    height: 30%;
    float: right;
  }

  .search {
    width: 100%;
  }

}


