<div>
    <table>
        <tr><th> Your friends: </th></tr>
        <ng-container *ngFor="let penpal of currentPenpals">
            <tr> 
                {{penpal}}
                <button type="submit" (click)="removePenPal(penpal)">remove TODO plaatje</button>
            </tr>
        </ng-container>
    </table>
</div>

<div>
    <form [formGroup]="form">
        <input type="text" placeholder="PenPal to add" required formControlName="penpal">
        <button type="submit" (click)="searchPenPal()">Find penpals</button>

    </form>

    <ng-container *ngFor="let penpal of searchPenpals">
        {{penpal}}
        <button type="submit" (click)="addPenPal(penpal)">Add PenPal</button>
        <br>
    </ng-container>
</div>