<head>
  <meta
    name="description"
    content="Terms and conditions page for Writlet webapplication">
</head>
<div>
  <h1>
    Terms and conditions
  </h1>

  <h2>Using the application</h2>
  <p>
    We like to keep it as respectful and mature here at Writlet.<br>
    Racism, sexism or insanely gruesome terminology will not be tolerated. <br>
    Do not advertise your own products.<br>
    Try to be as polite as possible<br><br>
    If we get complaints about your account, we might be forced to act accordingly. <br><br>
    Use at your own risk.
  </p>
</div>
