<head>
  <meta
    name="description"
    content="User page for Writlet webapplication, change password and username here">
</head>
<form [formGroup]="form">
  <table>
    <tr>
      <td>
        Username
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" id="username" name="username" placeholder="{{oldname}}" maxlength="16" formControlName="name">
      </td>
    </tr>
    <tr>
      <td>
        <br>
        New Password
      </td>
    </tr>
    <tr>
      <td>
        <input type="password" id="newPassword" (blur)="disablePopup()" name="newPassword" placeholder="Password" maxlength="16" (keyup)="onKeyUp()" formControlName="newerPassword">
      </td>
    </tr>
    <tr>
      <td>
      <input type="checkbox" (click)="showPassword()">Show
      </td>
    </tr>
    <tr>
      <td>
        <br>
        Old Password
      </td>
    </tr>
    <tr>
      <td>
        <input type="password" id="oldPassword" name="oldPassword" placeholder="Password" required maxlength="16" formControlName="olderPassword">
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" (click)="showSecond()">Show
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit" (click)="userUpdated()">Update</button>
      </td>
    </tr>
    <div class="message" [ngClass]="{'show' : this.show}">
      <h3>Password must contain the following:</h3>
      <p id="letter" class="invalid" *ngIf="!letter">A <strong>lowercase</strong> letter</p>
      <p id="letter" class="valid" *ngIf="letter">A <strong>lowercase</strong> letter</p>
      <p id="capital" class="invalid" *ngIf="!capital">A <strong>capital (uppercase)</strong> letter</p>
      <p id="capital" class="valid" *ngIf="capital">A <strong>capital (uppercase)</strong> letter</p>
      <p id="number" class="invalid" *ngIf="!number">A <strong>number</strong></p>
      <p id="number" class="valid" *ngIf="number">A <strong>number</strong></p>
      <p id="length" class="invalid" *ngIf="!length">Minimum <strong>8 characters</strong></p>
      <p id="length" class="valid" *ngIf="length">Minimum <strong>8 characters</strong></p>
    </div>
  </table>
</form>




