<head>
  <meta
    name="description"
    content="User page for Writlet webapplication, change password and username here">
</head>
<form [formGroup]="form">
  <table>
    <tr>
      <td>
        Username
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" id="username" name="username" placeholder="{{oldname}}" formControlName="name">
      </td>
    </tr>
    <tr>
      <td>
        New Password
      </td>
    </tr>
    <tr>
      <td>
        <input type="password" id="newPassword" name="newPassword" placeholder="" formControlName="newerPassword">
      </td>
    </tr>
    <tr>
      <td>
        Old Password
      </td>
    </tr>
    <tr>
      <td>
        <input type="password" id="oldPassword" name="oldPassword" placeholder="" formControlName="olderPassword">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit" (click)="userUpdated()">Update</button>
      </td>
    </tr>
  </table>
</form>




