<form [formGroup]="form">
  <label>username</label><br>
  <input type="text" id="username" name="username" placeholder="{{oldname}}" formControlName="name"><br><br>
  <label>new password</label><br>
  <input type="text" id="newPassword" name="newPassword" placeholder="" formControlName="newerPassword"><br><br>
  <label>old password</label><br>
  <input type="text" id="oldPassword" name="oldPassword" placeholder="" formControlName="olderPassword"><br><br>
  <button type="submit" (click)="userUpdated()">update</button>
</form>


