#LetterA4 {
  margin-top: 40px;
  margin-left: 40px;
  background-color: white;
  width: 50%;
  height: 80vh;
  display: inline-block;
}

#body {
  margin-bottom: 40px;
}

table {
  font-family: "Bradley Hand ITC", cursive;
  font-size: large;
}
