<div>
  <table>
    <tr>
      <td>
        Aan:
      </td>
      <td>
        {{letter.recipient}}
      </td>
    <tr>
      <td>
        Datum:
      </td>
      <td>
        {{letter.time}}
      </td>

    <tr>
      <td>
        Titel:
      </td>
      <td>
        {{letter.title}}
      </td>

    <tr>
      <td>
        Afzender:
      </td>
      <td>
        {{letter.username}}
      </td>
    <tr>
      <td>
        Inhoud:
      </td>
      <td>
        {{letter.text}}
      </td>

  </table>
</div>
