<head>
  <meta
    name="description"
    content="Letterbox page for Writlet webapplication, used for viewing letters">
</head>
<div class="grid">
  <ng-container *ngFor="let brief of readableLetters.reverse(); let i = index">
    <div class="letters" routerLink="../read/{{brief['_id']}}">
      <div class="sender">{{brief['letter']['username']}}</div>
      <div class="date">{{parseDate(brief['letter']['arrival'])}}</div>

    </div>
  </ng-container>
  <div *ngIf="readableLetters.length == 0" class="noLetters">
    There are no letters in your letterbox.
  </div>

</div>
