table {
  margin-left: 10%;
}

td {
  background-size: 150px 117px;
  background-repeat: no-repeat;

  height: 117px;
  width: 150px;

  padding-top: 5px;
  cursor: pointer;
}

div {
  margin-left: 20px;
}
