/* mobile */

.letters {

  background-image: url("src/assets/img/brief.png");
  background-size: 150px 117px;
  background-repeat: no-repeat;

  height: 117px;
  width: 150px;

  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;

  box-shadow: 0 4px 8px 0 #00000030, 0 6px 10px 0 #00000030;

}

.sender {
  margin-left: 15%;
  margin-top: 33%;
  font-size: 20px;
}

.date {
  margin-left: 15%;
  margin-top: 5%;
  font-size: 12px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* desktop */
@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: auto auto auto auto;
  }

  .letters {
    background-size: 225px 175px;


    height: 175px;
    width: 225px;
  }

  .date {
    margin-top: 8%;
  }

  .sender {
    margin-top: 32%;
    font-size: 30px;
  }
}
