<head>
  <meta
    name="description"
    content="Letterbox page for Writlet webapplication, used for viewing letters">
</head>
<div class="grid">
    <ng-container *ngFor="let brief of readableLetters.reverse(); let i = index">
      <div class="letters" routerLink="../read/{{brief['_id']}}">
        <div class="sender">{{brief['letter']['username']}}</div>
        <div class="date">{{parseDate(brief['letter']['time'])}}</div>
      </div>
    </ng-container>
  <ng-template>
    <div class="noLetters">
      There are no letters in your letterbox.
    </div>
  </ng-template>
</div>
