<head>
  <meta
    name="description"
    content="Letterbox page for Writlet webapplication, used for viewing letters">
</head>
<div class="grid">
  <ng-container *ngFor="let brief of data.reverse(); let i = index">
    <div *ngIf="getDate(brief['letter']['time'])" class="letters" routerLink="../read/{{brief['_id']}}">
      <div class="sender">{{brief['letter']['username']}}</div>
      <div class="date">{{parseDate(brief['letter']['time'])}}</div>
    </div>
  </ng-container>
  <ng-container *ngIf="data.length == 0">
    <div class="noLetters">
      There are no letters in your letterbox.
    </div>
  </ng-container>
</div>
