<head>
  <meta
    name="description"
    content="Register page for Writlet webapplication">
</head>
<form [formGroup]="form">
  <table>
    <tr>
      <img class="logo" src="assets/img/writletlogotransparent.png" alt="Logo">
      <img class="mobileLogo" src="assets/img/headerlogo.png" alt="Logo">
      <img class="textLogo" src="assets/img/writletlogo.png" alt="LogoText">
    </tr>
    <tr class="register">
      Register a Writlet account.
    </tr>
    <tr class="register">
        Username
    </tr>
    <tr class="register">
      <input type="text" placeholder="Username" required autofocus
             [style.backgroundColor]="errorColor" formControlName="name">
    </tr>
    <tr class="register">
        Password
    </tr>
    <tr class="register">
      <input type="password" placeholder="Password" required
             [style.backgroundColor]="errorColor" formControlName="password" (keyup)="onKeyUp()" >
    </tr>
    <tr class="register">
      <button type="submit" (click)="register()">Register</button>
    </tr>
    <div id="message">
      <h3>Password must contain the following:</h3>
      <p id="letter" class="invalid" *ngIf="!letter">A <strong>lowercase</strong> letter</p>
      <p id="letter" class="valid" *ngIf="letter">A <strong>lowercase</strong> letter</p>
      <p id="capital" class="invalid" *ngIf="!capital">A <strong>capital (uppercase)</strong> letter</p>
      <p id="capital" class="valid" *ngIf="capital">A <strong>capital (uppercase)</strong> letter</p>
      <p id="number" class="invalid" *ngIf="!number">A <strong>number</strong></p>
      <p id="number" class="valid" *ngIf="number">A <strong>number</strong></p>
      <p id="length" class="invalid" *ngIf="!length">Minimum <strong>8 characters</strong></p>
      <p id="length" class="valid" *ngIf="length">Minimum <strong>8 characters</strong></p>
    </div>
  </table>
</form>
