/* mobile */
.logo {
  display: none;
}

.mobileLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  margin-top: 5vh;
}

.textLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: both;
  margin-top: 2vh;
  width: 100%;

}

.register {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2vh;
}

button {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: flex;
  padding: 5px;
  transition-duration: 0.4s;
  border-radius: 4px;
  border: 2px solid #555555;
  background-color: #373331;
  color: white;

  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
}

.message {
  visibility: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150%;
  background-color: #373331;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: relative;
  z-index: 1;
  color: white;

}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* desktop */
@media screen and (min-width: 768px) {

  .textLogo {
    display: none;
  }

  .mobileLogo {
    display: none;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
    padding-bottom: 3%;
  }

  form {
    display: flex;
    margin-top: 5%;
  }

  table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  tr {
    text-align: center;
    display: flex;
  }

  button {
    transition-duration: 0.4s;
    border-radius: 4px;
    background-color: #373331;
    color: white;
    border: 2px solid #555555;
    margin-top: 2%;
    width: 26%;
    height: 5%;
    min-width: 72px;
  }

  button:hover {
    background-color: #555555;
    color: white;
  }

  .message {
    margin-top: 0;
  }
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  color: #FFF;
  position: relative;
  text-align: center;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
