<div id="body">
  <div class="wrapper">
    <img class="quill" src="assets/img/quill.png" alt="Quill">
    <div id=LetterA4>
      <table>
        <tr>
          <td>
            <input type = "text"  id="Recipient" placeholder = "Recipient" [(ngModel)]="recipient">
          </td>
          <td class="date">
            {{getCurrentDate()}}
          </td>
        <tr>
          <td>
            <input type = "text" id="Title" [placeholder]="this.setRecipientPlaceholder()" [(ngModel)]="letterTitle">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <textarea style="resize: none" id="text" placeholder="Write your letter here" [(ngModel)]="letterText"></textarea>
          </td>
        </tr>
      </table>
    </div>
    <div class="envelope">
      <img src="assets/img/envelope.png" alt="Envelope">
    </div>
    <button (click)="sendLetter(recipient, letterTitle, letterText)">Send</button>
  </div>
</div>

