<div>
  <table>
    <tr>
      <td>
        <input type = "text"  id="Recipient" placeholder = "Recipient" [(ngModel)]="recipient">
      </td>
      <td>
        Recipient
      </td>
    <tr>
      <td>
        <input type = "text" id="Title" placeholder = "Title" [(ngModel)]="letterTitle">
      </td>
      <td>
        Title
      </td>
    </tr>
    <tr>
      <td>
        <textarea id="text" rows = 50, cols = 75 placeholder="Write your letter here" [(ngModel)]="letterText"></textarea>
      </td>
    <tr>
      <td>
        <button (click)="sendLetter(recipient, letterTitle, letterText)">Send</button>
      </td>
      <td>
      </td>
    </tr>
  </table>
  <nav>
    <a routerLink="../view">View Letter</a>
  </nav>
  <router-outlet></router-outlet>
</div>

