#LetterA4 {
  margin-top: 40px;
  margin-left: 40px;
  background-color: white;
  width: 50%;
  display: inline-block;
}

#body {
  margin-bottom: 40px;
}

table {
  margin-top: 10px;
  margin-left: 10px;
  height: 100%;
}

textarea {
  border: none;
  min-height: 100%;
  font-family: "Bradley Hand ITC", cursive;
  font-size: large;
}

textarea:active {
  outline-color: #fff2e2;
}

input {
  border: none;
  font-family: "Bradley Hand ITC", cursive;
  font-size: large;
}
