<div id="body">
  <div id=LetterA4>
  <table>
    <tr>
      <td>
        <input type = "text"  id="Recipient" placeholder = "Recipient" [(ngModel)]="recipient">
      </td>

    <tr>
      <td>
        <input type = "text" id="Title" [placeholder]="this.setRecipientPlaceholder()" [(ngModel)]="letterTitle">
      </td>
    </tr>
    <tr>
      <td>
        <textarea style="resize: none" id="text" rows = 33, cols = 75 placeholder="Write your letter here" [(ngModel)]="letterText"></textarea>
      </td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
      </td>
    </tr>
  </table>
  </div>
  <button (click)="sendLetter(recipient, letterTitle, letterText)">Send</button>
  <nav>
    <a routerLink="../view">View Letter</a>
  </nav>
  <router-outlet></router-outlet>

</div>

